.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid #b4b4b4;
  padding: 12px;
  margin-bottom: 60px;
  cursor: pointer;
}

.item p {
  margin-bottom: 6px;
}

.item span {
  padding: 0 0.5em 0 0;
  font-weight: 600;
  font-style: italic;
}
